.side-drawer {
  display :block;
    height: 100%;
    background: #000046;  /* fallback for old browsers */
    
   
    background-attachment: fixed;
    background-size: contain;
    box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    max-width: 400px;
    z-index: 7000;

    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
  }
  
  .userinfoo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
   flex-basis: content;
 
  }
  .userinfoo div{
    height: 50px;
    color: rgb(255, 255, 255);
  }
  .icon{
    font-size: 200px;
    margin:0 auto;
    color: #ffffff;
  }
  
  .flexcont{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 50px;
    justify-content: left;
    text-align: center;
    
  }
  .side-drawer li{
    font-size: 100px;

  }
  .side-drawer.open {
    transform: translateX(0);
  }


  .side-drawer > a {
    list-style: none;
    color: rgb(0, 0, 0);
    /* font-weight: bold; */
    font-size: 20px;
}

  .flexcont div {
    
padding-bottom: 10px;
border-bottom: 1px solid #412da55e;
  }
  .side-drawer a {
    list-style: none;
    color: black;
    font-weight: bold;
}
  @media(min-width:768px){
    .side-drawer{
      display: none;
    }
    
  }