.banner {
  position: relative;

  background-image: url('../static/Bannerbig.png');
  background-position: center;

  background-repeat: no-repeat;
  height: 300px;
  background-size: 1300px;
  padding-top: 550px;
}
@media only screen and (max-width: 767px) {
  .banner {
    /* The file size of this background image is 93% smaller
       to improve page load speed on mobile internet connections */
       background-size: 700px;
  }
}